body 
{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Microsoft YaHei", sans-serif;
  font-weight: 10px;
}
li 
{
  text-decoration: none;
  list-style: none;
}
a 
{
  text-decoration: none;
  color: #111;
}
a:hover 
{
  text-decoration: none;
  color: #666;
}
a:active 
{
  text-decoration: none;
  color: #111;
}
h2 
{
  font-size: 50px;
}
/*背景*/
.background-left 
{
  float: right;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: url("../img/background-3.jpg") no-repeat center;
  background-size: cover;
}
.background-right 
{
  float: right;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: url("../img/background-3.jpg") no-repeat center;
  background-size: cover;
}
.backgroundcover-hide 
{
  float: right;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.6);
  transition: 0.3s;
}
.backgroundcover-show 
{
  float: right;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.8);
  transition: 0.3s;
}
/*内容版*/
.start-show
{
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 800;
  height: 100px;
  transition: 0.4s;
}
.start-hide
{
  position: absolute;
  top: 23%;
  width: 100%;
  z-index: 800;
  height: 100px;
  opacity: 0;
  transition: 0.4s;
}
.title 
{
  animation: loading 0.7s ease-out;
  -moz-animation: loading 0.7s ease-out;
  -webkit-animation: loading 0.7s ease-out;
  -o-animation: loading 0.7s ease-out;
  position: relative;
  font-family: 'Raleway';
  text-align: center;
  color: #eee;
  font-size: 60px;
  font-weight: 300;
  text-shadow: 3px 3px 4px #222;
}
.retitle 
{
  animation: loading 0.4s ease-out;
  -moz-animation: loading 0.4s ease-out;
  -webkit-animation: loading 0.4s ease-out;
  -o-animation: loading 0.4s ease-out;
  position: relative;
  margin-top: -100px;
  text-align: center;
  color: #ccc;
  font-size: 20px;
  font-weight: 300;
}
.ion-ios-arrow-down
{
  animation: loading 0.2s ease-out;
  -moz-animation: loading 0.2s ease-out;
  -webkit-animation: loading 0.2s ease-out;
  -o-animation: loading 0.2s ease-out;
  position: relative;
  display: block;
  text-align: center;
  font-size: 40px;
  color: white;
}
.title-hide 
{
  display: inline-block;
  transition: 0.2s;
}
.main 
{
  height: auto !important;
  position: absolute;
  top: 80vh;
  right: 0px;
  left: 0px;
  line-height: 25px;
  padding-top: 10%;
  z-index: 900;
}
.contents 
{
  display: inline-block;
  position: relative;
  left: 2%;
  width: 87%;
  height: 100%;
}
.text-dynamic 
{
  background-color: #fafafa;
  padding: 2em;
  padding-top: 60px;
}
.text-dynamic div 
{
  color: #222;
  font-size: 16px;
}
.text-dynamic img 
{
  width: 100%;
}
.text-dynamic h1 
{
  line-height: 50px;
  color: #111;
  margin-top: 0;
  font-size: 40px;
}
.dynamic-block 
{
  min-height: 250px;
  position: relative;
  margin-bottom: 100px;
}
.dynamic-block article
{
  padding: 0em 7em;
}
.dynamic-block article h5
{
  border-left: 5px solid #aaa;
  padding-left: 10px;
  font-size: 16px;
}
.main-infoline 
{
  display: inline-block;
  background-color: #ddd;
  width: 13%;
  position: absolute;
  margin-top: -60px;
  padding-top: 55px;
  left: -13%;
  color: #222  !important;
  font-size: 16px !important;
  text-align: center  !important;
}
.main-infoline p
{
  font-size: 1.7vh;
}
.textseperateline
{
  margin-top: 118px;
  height: 1px;
  width: 100%;
  border-radius: 1px;
  background-color: #aaa;
}
.infoseperateline
{
  height: 1px;
  margin-left: 5%;
  width: 90%;
  border-radius: 1px;
  background-color: #aaa;
}
.infosection
{
  margin-left: 10%;
  text-align: left;
  color: #999;
  font-size: 20px;
  line-height: 5px;
}
.infoline
{
  transition: 0.4s;
}
.footer
{
  color: #222;
}
.header
{
  position: relative;
  left: 48%;
  margin-top: -50px;
  color: #666;
  font-size: 16px;
  float: left;
  text-align: center;
}
.main-infoend
{
  display: block;
  background-color: #ddd;
  width: 13%;
  height: 100%;
  position: absolute;
  margin-top: -60px;
  left: -13%;
}
.textfoot
{
  display: none;
  margin-top: 40px;
}
.textfoot img
{
  float: left;
  display: block;
  margin-right: 10px;
  width: 60px !important;
  height: 60px !important;
}
.textfoot h2
{
  color: #444;
  padding-top: 15px;
  font-size: 20px;
}
.end
{
  position: absolute;
  left: -3%;
  bottom: -100px;
  display: block;
  width: 103%;
  height: 100px;
  background-color: #222;
  text-align: center;
}
.ending
{
  margin-top: 35px;
  margin-left: 3%;
  color: #ddd;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 80%;
  font-weight: 100;
}
.ion-ios-arrow-up
{
  animation: loading 0.2s ease-out;
  -moz-animation: loading 0.2s ease-out;
  -webkit-animation: loading 0.2s ease-out;
  -o-animation: loading 0.2s ease-out;
  position: relative;
  top: -50px;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #222;
}
/*加载动画*/
@media (min-width: 64em) 
{
  .title-hide:hover 
  {
    display: inline-block;
    color: rgba(0,0,0,0);
    transition: 0.2s;
  }
  .text-dynamic
  {
    position: relative;
    left: 12%;
  }
  .infoline:hover
  {
    background-color: rgba(255,255,255,0.4);
  }
}
@media (max-width: 64em) 
{
  .main 
  {
    top: 100vh;
    padding: 3%;
    right: 0px;
    left: 0px;
  }
  .main-infoline 
  {
    display: none;
  }
  .contents 
  {
    width: 100%;
  }
  .text-dynamic
  {
      position: relative;
      left: -2%;
  }
  .textfoot
  {
    display: block;
  }
  .text-dynamic div 
  {
    line-height: 30px;
    font-size: 25px;
    font-weight: 10;
  }
  .main-infoend
  {
    display: none;
  }
  .dynamic-block article
  {
    padding: 0em 2em;
  }
  .retitle 
  {
    font-size: 30px;
    font-weight: 300;
  }
}
