body
{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif SC', serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Ubuntu","Microsoft YaHei", sans-serif;
    font-weight: 10px;
    background: #fff;
}
div::selection
{
    color: #222;
    background: #ccc;
}
div::-moz-selection
{
    color: #222;
    background: #ccc;
}
p::selection
{
    color: #222;
    background: #ccc;
}
p::-moz-selection
{
    color: #222;
    background: #ccc;
}
h2::selection
{
    color: #222;
    background: #eee;
}
h2::-moz-selection
{
    color: #222;
    background: #eee;
}
li
{
    text-decoration: none;
    list-style: none;
}
a
{
    text-decoration: none;
    color: #111;
}

a:hover
{
    text-decoration: none;
    color: #666;
}

a:active
{
    text-decoration: none;
    color: #111;
}

h2
{
    font-size: 50px;
}


/*======================================================================================background======================================================================================*/
.background
{
    background: url(https://s2.ax1x.com/2019/07/29/e103Bd.jpg) no-repeat center;
    background-size: cover;
    float: right;
    position: fixed;
    top: 10%;
    height: 100%;
    width: 100%;
}

.backgroundcover-hide
{
    float: right;
    position: fixed;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.0);
    transition: 0.3s
}
.backgroundcover-show
{
    float: right;
    position: fixed;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    transition: 0.3s;
}

/*======================================================================================main section======================================================================================*/
.main-content
{
    z-index: 650;
    position: relative;
}

.bright-width-limiter
{
    transition: 0.4s;
    background-color: #fff;
}

.dark-width-limiter
{
    transition: 0.4s;
    background-color: #222;
}

.section-title
{
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 100;
    color: #777;
    font-size: 2.5vh;
    word-wrap: break-word; 
    word-break: normal; 
}

#section-title-dark
{
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 100;
    color: #bbb;
    font-size: 2.5vh;
}

.section-division-line-v
{
    flex-grow: 0;
    background-color: #ddd;
    margin-top: 0;
    height: auto;
    width: 1px;
}

.section-division-line-h
{
    flex-grow: 0;
    background-color: #333;
    margin: 0 auto;
    height: 1px;
    max-width: 1320px;
}

#mobile-section-division-line-h
{
    display: none;
    height: 11px;
    background-color: #999;
}

#section-division-line-h-bright
{
    background-color: #ccc;
}

.section-space-v
{
    margin: 0 auto;
    height: 3vh;
    max-width: 1320px;
}

#help-circle
{
    font-size: 4vh;
}

/*======================================================================================start======================================================================================*/
.start
{
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    height: 38.2vh;
    background-color: #fff;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1320px;
    margin: 0 auto;
}

#start
{
    margin-bottom: 12.1924vh;
}

.start-debate-title-card-box
{
    padding-top: 80px;
    height: 36vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
}

.start-debate-title-card
{
    writing-mode: tb-rl;
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC', serif,'Raleway';
    width: 3vh;
    font-weight: 200;
    font-size: 2.5vh;
    white-space:nowrap;
}

.start-main-title-card-box
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 55%;
    max-width: 1320px;
    margin: 0 auto;
}

.start-main-title-card
{
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 100;
    color: #222;
    font-size: 4.5vh;
    word-wrap: break-word; 
    word-break: normal;
}

.start-secondary-title-card
{
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 500;
    color: #777;
    font-size: 2.5vh;
}

/*======================================================================================introduction======================================================================================*/
.introduction
{
    z-index: 650;
    height: auto;
    font-family: 'Noto Serif SC',serif,'Raleway';
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1320px;
    margin: 0 auto;
}

.introduction-card
{
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 1vh 2vh;
    justify-content: center;
}

.introduction-card-box
{
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: stretch;
}

.introduction-card-text
{
    writing-mode: tb-rl;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 500;
    text-align: center;
    color: #999;
    font-size: 2vh;
}

.introduction-card-title
{
    writing-mode: tb-rl;
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Sans SC','Raleway';
    font-weight: 600;
    text-align: center;
    color: #222;
    font-size: 4vh;
    display: flex;
    align-items: center;
}
/*======================================================================================purpose======================================================================================*/
.purpose
{
    z-index: 650;
    height: auto;
    font-family: 'Noto Serif SC',serif,'Raleway';
    color: #444;
    padding-top: 5vh;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1320px;
    margin: 0 auto;
}

#purpose-dark
{
    color: #eee;
}

.purpose-card-box
{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: stretch;
}

.purpose-card
{
    font-family: 'Noto Serif SC',serif,'Raleway';
}

/*======================================================================================exhibition======================================================================================*/
.exhibition
{
    z-index: 650;
    font-family: 'Noto Serif SC',serif,'Raleway';
    padding-top: 1.5vh;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1320px;
    margin: 0 auto;
}

.exhibition-card-box
{
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exhibition-card
{
    flex-grow: 1;
    width: 50vh;
    margin-bottom: 48px;
}

.exhibition-card-s
{
    flex-grow: 1;
    width: 20vh;
    margin-bottom: 48px;
}

.exhibition-card-picture-1
{
    background: url(https://s2.ax1x.com/2019/07/29/e10a38.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 60%;
    margin-bottom: 4vh;
}

.exhibition-card-picture-2
{
    background: url(https://s2.ax1x.com/2019/07/29/e10dgS.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 60%;
    margin-bottom: 4vh;
}

.exhibition-card-s-picture-1
{
    background: url(https://i.loli.net/2019/07/28/5d3dc4c45545e49672.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 80%;
    margin-bottom: 4vh;
}

.exhibition-card-s-picture-2
{
    background: url(https://i.loli.net/2019/07/28/5d3dc4c344e7a86108.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 80%;
    margin-bottom: 4vh;
}

.exhibition-card-s-picture-3
{
    background: url(https://i.loli.net/2019/07/28/5d3dc4c36fb5b28482.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 80%;
    margin-bottom: 4vh;
}

.exhibition-card-title
{
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 500;
    letter-spacing: 4px;
    color: #eee;
    font-size: 2.5vh;
    display: inline;
}

.exhibition-card-text
{
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 200;
    color: #aaa;
    letter-spacing: 2px;
    font-size: 2vh;
    display: inline;
}

.exhibition-card-text-s
{
    padding-top: 3vh;
    padding-bottom: 3vh;
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 200;
    color: #888;
    letter-spacing: 2px;
    line-height: 3.5vh;
    font-size: 1.7vh;
}

.joinUs
{
    color: #eee;
    z-index: 650;
    font-family: 'Noto Serif SC',serif,'Raleway';
    padding-top: 1.5vh;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1320px;
    margin: 0 auto;
    height: 35vh;
}

.joinUs-section-title
{
    animation: loading 0.7s ease-out;
    -moz-animation: loading 0.7s ease-out;
    -webkit-animation: loading 0.7s ease-out;
    -o-animation: loading 0.7s ease-out;
    font-family: 'Noto Serif SC',serif,'Raleway';
    font-weight: 100;
    color: #eee;
    font-size: 2.5vh;
}
.copyRight
{
    height: 10vh;
    display: flex;
    align-items: center;
}

.copyRight-section-text
{
    flex-grow: 1;
    font-family: 'Noto Serif SC',serif;
    font-weight: 100;
    color: #666;
    text-align: center;
    font-size: 1.2vh;
}

#end
{
    margin-top: 50vh;
}

@-moz-document url-prefix()
{

    #help-circle
    {
        padding-right: 1vh;
    }

    .secondary-section-title
    {
        margin-left: 1vh;
        margin-right: 0.1vh;
    }
}

@media (min-width: 1024px)
{
    #desktop-start-main-title-card
    {
        display: block;
    }
    #mobile-start-main-title-card
    {
        display: none;
    }
    #exhibition-card-left
    {
        border-right: 0px solid #333;
        padding-right: 24px;
    }
    
    #exhibition-card-right
    {
        border-left: 1px solid #333;
        padding-left: 24px;
    }

    #exhibition-card-s-left
    {
        border-right: 0px solid #aaa;
        padding-right: 24px;
    }

    #exhibition-card-s-mid
    {
        border-left: 1px solid #ccc;
        padding-left: 24px;
        padding-right: 24px;
    }

    #exhibition-card-s-right
    {
        border-left: 1px solid #ccc;
        padding-left: 24px;
    }
}

@media (max-width: 1024px)
{
    #mobile-section-division-line-h
    {
        display: block;
        height: 11px;
    }
    #desktop-start-main-title-card
    {
        display: none;
    }
    #mobile-start-main-title-card
    {
        display: block;
    }
    .start-debate-title-card-box
    {
        padding-top: 0px
    }
    .introduction
    {
        z-index: 650;
        height: auto;
        font-family: 'Noto Serif SC',serif,'Raleway';
        margin: 0 auto;
    }
    
    .introduction-card
    {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        overflow-x: hidden;
        flex-grow: 1;
        padding: 3vh 0vh;
        align-items: center;
    }
    
    .introduction-card-box
    {
        display: flex;
        justify-content: stretch;
        flex-direction: column;
    }
    
    .introduction-card-text
    {
        writing-mode: horizontal-tb;
        font-family: 'Noto Serif SC',serif,'Raleway';
        font-weight: 500;
        text-align: center;
        color: #999;
        font-size: 2vh;
    }
    
    .introduction-card-title
    {
        order: -1;
        writing-mode: horizontal-tb;
        animation: loading 0.7s ease-out;
        -moz-animation: loading 0.7s ease-out;
        -webkit-animation: loading 0.7s ease-out;
        -o-animation: loading 0.7s ease-out;
        font-family: 'Noto Sans SC','Raleway';
        font-weight: 600;
        text-align: center;
        color: #222;
        font-size: 4vh;
        display: flex;
        align-items: center;
    }
    .bright-width-limiter
    {
        transition: 0.4s;
        background-color: #fff;
        margin-bottom: -5px;
    }

    .dark-width-limiter
    {
        transition: 0.4s;
        background-color: #222;
        margin-bottom: -5px;
    }

    .start-main-title-card
    {
        font-size: 3vh;
    }

    .backgroundcover-hide
    {
        display: none;
    }

    .backgroundcover-show
    {
        display: none;
    }

    .exhibition-card
    {
        width: 70vh;
    }

    .exhibition-card-s
    {
        width: 70vh;
    }
    #exhibition-card-left
    {
        padding-right: 0px;
    }

    #exhibition-card-right
    {
        border-left: 0px solid #333;
        padding-left: 0px;
    }

    #exhibition-card-s-left
    {
        border-right: 0px solid #aaa;
        padding-right: 0px;
    }

    #exhibition-card-s-mid
    {
        border-left: 0px solid #ccc;
        padding-left: 0px;
        padding-right: 0px;
    }

    #exhibition-card-s-right
    {
        border-left: 0px solid #ccc;
        padding-left: 0px;
    }

    .section-division-line-v
    {
        display: none;
    }

    .section-title
    {
        font-size: 2.5vh;
        padding: 1vh 0vh;
    }

    .purpose-card
    {
        font-size: 2vh;
    }
    .start
    {
        padding-left: 36px;
        padding-right: 36px;
        height: 25vh;
    }
    .introduction
    {
        padding-left: 36px;
        padding-right: 36px;
    }
    .purpose
    {
        padding-left: 36px;
        padding-right: 36px;
    }
    .exhibition
    {
        padding-left: 36px;
        padding-right: 36px;
    }
    .joinUs
    {
        padding-left: 36px;
        padding-right: 36px;
    }
    .copyRight
    {
        height: 20vh;
    }
    .start-main-title-card-box
    {
        top: 16%;
    }
    .start-main-title-card
    {
        animation: loading 0.7s ease-out;
        -moz-animation: loading 0.7s ease-out;
        -webkit-animation: loading 0.7s ease-out;
        -o-animation: loading 0.7s ease-out;
        font-family: 'Noto Serif SC',serif,'Raleway';
        font-weight: 300;
        color: #222;
        font-size: 4vh;
    }
    #start
    {
        margin-bottom: -5px;
        margin-top: 60vh;
    }
}
