body 
{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  font-weight: 10px;
  background-color:black;
  height: 200vh;
}
li 
{
  text-decoration: none;
  list-style: none;
}
a 
{
  text-decoration: none;
  color: #111;
}
a:hover 
{
  text-decoration: none;
  color: #666;
}
a:active 
{
  text-decoration: none;
  color: #111;
}
h2 
{
  font-size: 50px;
}
/*背景*/
.background
{
  float: right;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: 0.5s ease-in-out;
}
.background-black
{
  float: right;
  position: fixed;
  opacity: 0;
  background: url("../img1/Background4.jpg") no-repeat center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: 0.5s ease-in-out;
}
.backgroundcover-light
{
  float: right;
  position: fixed;
  margin: 0 auto;
  height: 140%;
  width: 140%;
  z-index: 100;
  background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0.1));
  opacity: 0.3;
  transition: 0.3s;
}
.backgroundcover-dim
{
  float: right;
  position: fixed;
  margin: 0 auto;
  height: 140%;
  width: 140%;
  z-index: 100;
  background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0.5));
  opacity: 1;
  transition: 0.3s;
}

.content
{
  padding-bottom: 50vh;
  padding: 5vh 3vh;
  z-index: 1000;
  position: relative;
  padding-top: 100vh;
  height: 100vh;
}

/*内容版*/
.start-show
{
  position: absolute;
  top: 80%;
  width: 100%;
  z-index: 800;
  height: 100px;
  transition: 0.4s;
}
.start-hide
{
  position: absolute;
  top: 70%;
  width: 100%;
  z-index: 800;
  height: 100px;
  opacity: 0;
  transition: 0.4s;
}
.title 
{
  animation: slideInUp 0.7s ease-out;
  -moz-animation: slideInUp 0.7s ease-out;
  -webkit-animation: slideInUp 0.7s ease-out;
  -o-animation: slideInUp 0.7s ease-out;
  position: relative;
  text-align: center;
  color: rgb(255, 254, 232);
  font-size: 3vh;
  font-weight: 100;
  text-shadow: 3px 3px 4px rgb(255, 236, 202);
}
.ion-ios-arrow-up
{
  animation: slideInUp 0.2s ease-out;
  -moz-animation: slideInUp 0.2s ease-out;
  -webkit-animation: slideInUp 0.2s ease-out;
  -o-animation: slideInUp 0.2s ease-out;
  position: relative;
  display: block;
  text-align: center;
  font-size: 5vh;
  color: rgb(255, 254, 232);
  text-shadow: 3px 3px 4px rgb(255, 236, 202);
  margin-bottom:-2vh;
}
.title-hide 
{
  display: inline-block;
  transition: 0.2s;
}
.Text1
{
  margin-top: 7vh;
  margin-bottom: 0vh;
  font-family: 'Noto Serif SC', serif;
  font-size: 2vh;
  font-weight: 400;
  z-index: 1000;
  color: #eee;
}
.Text2
{
  margin: 2vh 0;
  font-family: 'Noto Serif SC', serif;
  font-size: 2.2vh;
  text-align: center;
  font-weight: 400;
  z-index: 1000;
  color: #eee;
}
.poem
{
  font-family: '宋体', serif;
  text-align: center;
  font-size: 3vh;
  font-weight: 800;
  text-shadow: 3px 3px 4px rgb(255, 236, 202);
  color: #efe;
  transition: 1s;
}

.division-line 
{
  border-bottom: 1px solid rgb(255, 236, 202);
  width: 100%;
  margin: 5vh 0vh;
}

.img
{
  margin: 2vh 0%;
  width: 100%;
}

.imgbox
{
  width: 100%;
  margin-bottom: 14vh;
}

.imgdis
{
  position: relative;
  font-family: 'Noto Serif SC', serif;
  font-size: 2vh;
  width: 80%;
  margin: -8vh auto;
  border-top: 1px solid rgb(255, 236, 202);
  border-bottom: 1px solid rgb(255, 236, 202);
  height: 3vh;
  padding: auto 0;
  text-align: center;
  color: rgb(255, 236, 202);
  text-shadow: 3px 3px 4px rgb(255, 236, 202);
}

.Title1
{
  background: url("../img1/effect1.png") repeat center;
  background-size: cover;
}

.blank
{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin: 2vh 0vh;
  padding: 7vh 5vh;
  position: absolute;
  margin-left: -10%;
  margin-top: 15vh;
  height: 35vh;
  width: 100%;
  background-color:#222;
}

.talkPara
{
  display:flex;
  align-items:top;
  margin: 2vh 0vh;
}
.talkBox
{
  margin: 0vh 2vh;
  border-width: 10px;
  border-color: rgb(255, 236, 202);
  background-color: rgb(255, 236, 202);
	border-style: solid;
	border-radius: 15px;
}
.talkBox2
{
  margin: 0vh 2vh;
  border-width: 10px;
  border-color: rgb(39, 39, 39);
  background-color: rgb(39, 39, 39);
  color: white;
	border-style: solid;
	border-radius: 15px;
}
.talkBox3
{
  height: 18vh;
  margin: 0vh 2vh;
  border-width: 10px;
  border-color: #333;
  background-color: #333;
  color: white;
	border-style: solid;
	border-radius: 15px;
}
.icon
{
  height: 6vh;
  width: 6vh;
}
.flex1
{
  justify-content:flex-start;
}
.flex2
{
  justify-content:flex-end;
}
.Title2
{
  background: url("../img1/effect2.png") repeat center;
  background-size: cover;
}
.code
{
  height: 20vh;
  width: 20vh;
}